html{
    position: relative;
    min-height: 100%;
}
body{
    margin: 0 0 00px;
    padding: 0%;
    background-color: rgb(217, 248, 250);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(39, 37, 37);
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: ivory;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
li a:hover{
    background-color: black;
}
.active{
    background-color: rgb(0, 102, 128);
}
main {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
footer{
    padding-top: 20px;
    background-color: rgb(39, 37, 37);
    color: ivory;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
            
}
.endereco{
    border-right: solid;
    border-color: rgb(39, 37, 37);
    border-width: 25px;
    width: 350px;
    display: block;  
}
li.endereco{
    float: none;
    align-items: center;
    display: flex;
}
.imgendereco{
    height: 30px;
    padding-left: 15px;

}
.txtendereco{
    padding-left: 15px;
    font-size: 15px;
    
}

.midias{
    border-right: solid;
    border-color: rgb(39, 37, 37);
    border-width: 25px;
    width: 350px;
    display: block;

}
li.midias{
    float: none;
    display: flex;
    align-items: center;
}
.imgmidias{
    height: 30px;
    padding-left: 15px;
}
.txtmidias{
    padding-left: 15px;
    font-size: 15px;
    
}
.tags{
    border-right: solid;
    border-color: rgb(39, 37, 37);
    border-width: 25px;
    width: 350px;
    display: block;

}
#idPic{
    display: block;
    
}
#idcontato{
    display: block;
    width: 90%;
    
}
#formContato{
    border: black;
    border-style: double;
    padding: 15px;
    margin-bottom: 30px;           
    
}
#idComentario{
    width: 100%;
    height: 50px;
}
#idContato{
    width: 100%;
}